main {
    margin: auto;
    text-align: center;
}

.app {
    height: 100vh;
    width: 100%;
    background-color: rgb(229, 225, 230);
}

.header {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    gap: 5rem;
}

.list a {
    text-decoration: none;
    color: lightpink;
}

.list a.active {
    text-decoration: underline;
    color: rgb(178, 106, 214);
    pointer-events: none;
}

.btn {
    background-color: blueviolet;
}